<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.admin.YXDictDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.admin.YXDictDO">
		select `id`,`name`,`value`,`code`,`description`,`order_num`,`parent_id`,`remarks`,`flag`,`uv_code` from yx_dict where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.admin.YXDictDO">
		select `id`,`name`,`value`,`code`,`description`,`order_num`,`parent_id`,`remarks`,`flag`,`uv_code` from yx_dict
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="value != null and value != ''"> and value = #{value} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		 <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_dict
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="value != null and value != ''"> and value = #{value} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.admin.YXDictDO" useGeneratedKeys="true" keyProperty="id">
		insert into yx_dict
		(
			`name`, 
			`value`, 
			`code`, 
			`description`, 
			`order_num`, 
			`parent_id`, 
			`remarks`, 
			`flag`, 
			`uv_code`
		)
		values
		(
			#{name}, 
			#{value}, 
			#{code}, 
			#{description}, 
			#{orderNum},
			#{parentId}, 
			#{remarks}, 
			#{flag}, 
			#{uvCode}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.admin.YXDictDO">
		update yx_dict 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="value != null">`value` = #{value}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="flag != null">`flag` = #{flag}, </if>
			<if test="uvCode != null">`uv_code` = #{uvCode}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_dict where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_dict where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="listType" resultType="com.bootdo.welcome.domain.admin.YXDictDO">
		select distinct `code` , description from yx_dict where `uv_code` = #{value}
	</select>
	
	
	<select id="findListByUVCodeAndTypeIn" resultType="com.bootdo.welcome.domain.admin.YXDictDO">
		select `name`,`value`,`code` from yx_dict where uv_code = #{uvCode} and code in 
       	<foreach item="type" collection="types" open="(" separator="," close=")">
			#{type}
		</foreach>
        order by order_num
	</select>

</mapper>