<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.admin.YXMenuDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.admin.YXMenuDO">
		select `mid`,`parent_id`,`name`,`url`,`perms`,`type`,`icon`,`order_num`,`uv_code`,`mcode` from yx_menu where mid = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.admin.YXMenuDO">
		select `mid`,`parent_id`,`name`,`url`,`perms`,`type`,`icon`,`order_num`,`uv_code`,`mcode` from yx_menu
        <where>  
		  		  <if test="mid != null and mid != ''"> and mid = #{mid} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="perms != null and perms != ''"> and perms = #{perms} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="icon != null and icon != ''"> and icon = #{icon} </if>
		  		  <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="mcode != null and mcode != ''"> and mcode = #{mcode} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by mid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_menu
		 <where>  
		  		  <if test="mid != null and mid != ''"> and mid = #{mid} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="perms != null and perms != ''"> and perms = #{perms} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="icon != null and icon != ''"> and icon = #{icon} </if>
		  		  <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="mcode != null and mcode != ''"> and mcode = #{mcode} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.admin.YXMenuDO" useGeneratedKeys="true" keyProperty="mid">
		insert into yx_menu
		(
			`parent_id`, 
			`name`, 
			`url`, 
			`perms`, 
			`type`, 
			`icon`, 
			`order_num`, 
			`uv_code`, 
			`mcode`
		)
		values
		(
			#{parentId}, 
			#{name}, 
			#{url}, 
			#{perms}, 
			#{type}, 
			#{icon}, 
			#{orderNum}, 
			#{uvCode}, 
			#{mcode}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.admin.YXMenuDO">
		update yx_menu 
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="perms != null">`perms` = #{perms}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="mcode != null">`mcode` = #{mcode}</if>
		</set>
		where mid = #{mid}
	</update>
	
	<delete id="removeById">
		delete from yx_menu where mid = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_menu where mid in 
		<foreach item="mid" collection="array" open="(" separator="," close=")">
			#{mid}
		</foreach>
	</delete>
	
	<select id="listMenuByUserId" resultType="com.bootdo.welcome.domain.admin.YXMenuDO">
		select distinct
		m.menu_id , parent_id, name, url,
		perms,`type`,icon,order_num,gmt_create, gmt_modified
		from yw_menu m
		left
		join yw_role_menu rm on m.menu_id = rm.menu_id left join
		yw_user_role ur
		on rm.role_id =ur.role_id where ur.user_id = #{uid}
		and
		m.type in(0,1)
		order by
		m.order_num
	</select>
	
	<select id="listUserPerms" resultType="string">
		select distinct m.perms
		from yw_menu m left join
		yw_role_menu rm on m.menu_id = rm.menu_id
		left join yw_user_role ur
		on rm.role_id = ur.role_id where ur.user_id
		= #{uid}
	</select>

</mapper>