<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.admin.YXPlusDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.admin.YXPlusDO">
		select `p_id`,`name`,`url`,`description`,`code`,`cost`,`flag` from mange_plus where p_id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.admin.YXPlusDO">
		select `p_id`,`name`,`url`,`description`,`code`,`cost`,`flag` from mange_plus
        <where>  
		  		  <if test="pId != null and pId != ''"> and p_id = #{pId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="cost != null and cost != ''"> and cost = #{cost} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by p_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from mange_plus
		 <where>  
		  		  <if test="pId != null and pId != ''"> and p_id = #{pId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="cost != null and cost != ''"> and cost = #{cost} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.admin.YXPlusDO" useGeneratedKeys="true" keyProperty="pId">
		insert into mange_plus
		(
			`name`, 
			`url`, 
			`description`, 
			`code`, 
			`cost`, 
			`flag`
		)
		values
		(
			#{name}, 
			#{url}, 
			#{description}, 
			#{code}, 
			#{cost}, 
			#{flag}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.admin.YXPlusDO">
		update mange_plus 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="cost != null">`cost` = #{cost}, </if>
			<if test="flag != null">`flag` = #{flag}</if>
		</set>
		where p_id = #{pId}
	</update>
	
	<delete id="removeById">
		delete from mange_plus where p_id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from mange_plus where p_id in 
		<foreach item="pId" collection="array" open="(" separator="," close=")">
			#{pId}
		</foreach>
	</delete>

</mapper>