<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.admin.YXUserDao">

	<select id="findOneById" resultType="com.bootdo.welcome.dao.admin.YXUserDao">
		select `id`,`uv_code`,`loginname`,`name`,`password`,`dept_id`,`flag`,`post`,`phone`,`pic_url` from yx_user where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.dao.admin.YXUserDao">
		select `id`,`uv_code`,`loginname`,`name`,`password`,`dept_id`,`flag`,`post`,`phone`,`pic_url` from yx_user
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="loginname != null and loginname != ''"> and loginname = #{loginname} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="post != null and post != ''"> and post = #{post} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="picUrl != null and picUrl != ''"> and pic_url = #{picUrl} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_user
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="loginname != null and loginname != ''"> and loginname = #{loginname} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  		  <if test="post != null and post != ''"> and post = #{post} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="picUrl != null and picUrl != ''"> and pic_url = #{picUrl} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.dao.admin.YXUserDao" useGeneratedKeys="true" keyProperty="id">
		insert into yx_user
		(
			`uv_code`, 
			`loginname`, 
			`name`, 
			`password`, 
			`dept_id`, 
			`flag`, 
			`post`, 
			`phone`, 
			`pic_url`
		)
		values
		(
			#{uvCode}, 
			#{loginname}, 
			#{name}, 
			#{password}, 
			#{deptId}, 
			#{flag}, 
			#{post}, 
			#{phone}, 
			#{picUrl}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.dao.admin.YXUserDao">
		update yx_user 
		<set>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="loginname != null">`loginname` = #{loginname}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="flag != null">`flag` = #{flag}, </if>
			<if test="post != null">`post` = #{post}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="picUrl != null">`pic_url` = #{picUrl}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_user where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>