<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.ChannelDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.ChannelDO">
		select `id`,`uv_code`,`ch_name`,`ch_description`,`ch_type` from yx_channel where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.ChannelDO">
		select `id`,`uv_code`,`ch_name`,`ch_description`,`ch_type` from yx_channel
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="chName != null and chName != ''"> and ch_name = #{chName} </if>
		  		  <if test="chDescription != null and chDescription != ''"> and ch_description = #{chDescription} </if>
		  		  <if test="chType != null and chType != ''"> and ch_type = #{chType} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_channel
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="chName != null and chName != ''"> and ch_name = #{chName} </if>
		  		  <if test="chDescription != null and chDescription != ''"> and ch_description = #{chDescription} </if>
		  		  <if test="chType != null and chType != ''"> and ch_type = #{chType} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.ChannelDO" useGeneratedKeys="true" keyProperty="id">
		insert into yx_channel
		(
			`uv_code`, 
			`ch_name`, 
			`ch_description`, 
			`ch_type`
		)
		values
		(
			#{uvCode}, 
			#{chName}, 
			#{chDescription}, 
			#{chType}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.ChannelDO">
		update yx_channel 
		<set>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="chName != null">`ch_name` = #{chName}, </if>
			<if test="chDescription != null">`ch_description` = #{chDescription}, </if>
			<if test="chType != null">`ch_type` = #{chType}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_channel where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_channel where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>