<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.PlanDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.PlanDO">
		select `id`,`uv_code`,`c_level`,`c_id`,`p_name`,`p_stime`,`p_etime`,`p_status` from yx_plan where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.PlanDO">
		select `id`,`uv_code`,`c_level`,`c_id`,`p_name`,`p_stime`,`p_etime`,`p_status` from yx_plan
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="cLevel != null and cLevel != ''"> and c_level = #{cLevel} </if>
		  		  <if test="cId != null and cId != ''"> and c_id = #{cId} </if>
		  		  <if test="pName != null and pName != ''"> and p_name = #{pName} </if>
		  		  <if test="pStime != null and pStime != ''"> and p_stime = #{pStime} </if>
		  		  <if test="pEtime != null and pEtime != ''"> and p_etime = #{pEtime} </if>
		  		  <if test="pStatus != null and pStatus != ''"> and p_status = #{pStatus} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_plan
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="cLevel != null and cLevel != ''"> and c_level = #{cLevel} </if>
		  		  <if test="cId != null and cId != ''"> and c_id = #{cId} </if>
		  		  <if test="pName != null and pName != ''"> and p_name = #{pName} </if>
		  		  <if test="pStime != null and pStime != ''"> and p_stime = #{pStime} </if>
		  		  <if test="pEtime != null and pEtime != ''"> and p_etime = #{pEtime} </if>
		  		  <if test="pStatus != null and pStatus != ''"> and p_status = #{pStatus} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.PlanDO" useGeneratedKeys="true" keyProperty="id">
		insert into yx_plan
		(
			`uv_code`, 
			`c_level`, 
			`c_id`, 
			`p_name`, 
			`p_stime`, 
			`p_etime`, 
			`p_status`
		)
		values
		(
			#{uvCode}, 
			#{cLevel}, 
			#{cId}, 
			#{pName}, 
			#{pStime}, 
			#{pEtime}, 
			#{pStatus}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.PlanDO">
		update yx_plan 
		<set>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="cLevel != null">`c_level` = #{cLevel}, </if>
			<if test="cId != null">`c_id` = #{cId}, </if>
			<if test="pName != null">`p_name` = #{pName}, </if>
			<if test="pStime != null">`p_stime` = #{pStime}, </if>
			<if test="pEtime != null">`p_etime` = #{pEtime}, </if>
			<if test="pStatus != null">`p_status` = #{pStatus}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_plan where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_plan where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>