<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.learns.dao.WdverDao">

	<select id="get" resultType="com.bootdo.learns.domain.WdverDO">
		select `id`,`ver`,`islast`,`tcode`,`info`,`utime` from yw_wdver where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.learns.domain.WdverDO">
		select `id`,`ver`,`islast`,`tcode`,`info`,`utime` from yw_wdver
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="ver != null and ver != ''"> and ver = #{ver} </if>
		  		  <if test="islast != null and islast != ''"> and islast = #{islast} </if>
		  		  <if test="tcode != null and tcode != ''"> and tcode = #{tcode} </if>
		  		  <if test="info != null and info != ''"> and info = #{info} </if>
		  		  <if test="utime != null and utime != ''"> and utime = #{utime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from yw_wdver
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="ver != null and ver != ''"> and ver = #{ver} </if>
		  		  <if test="islast != null and islast != ''"> and islast = #{islast} </if>
		  		  <if test="tcode != null and tcode != ''"> and tcode = #{tcode} </if>
		  		  <if test="info != null and info != ''"> and info = #{info} </if>
		  		  <if test="utime != null and utime != ''"> and utime = #{utime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.learns.domain.WdverDO">
		insert into yw_wdver
		(
			`ver`, 
			`islast`, 
			`tcode`, 
			`info`, 
			`utime`
		)
		values
		(
			#{ver}, 
			#{islast}, 
			#{tcode}, 
			#{info}, 
			#{utime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.learns.domain.WdverDO">
		update yw_wdver 
		<set>
			<if test="ver != null">`ver` = #{ver}, </if>
			<if test="islast != null">`islast` = #{islast}, </if>
			<if test="tcode != null">`tcode` = #{tcode}, </if>
			<if test="info != null">`info` = #{info}, </if>
			<if test="utime != null">`utime` = #{utime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from yw_wdver where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from yw_wdver where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>