<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.FileDataDao">

	<select id="findOneById" resultType="com.bootdo.system.domain.FileDataDO">
		select `id`,`fname`,`foname`,`fdata`,`ftype`,`ctime`,`num` from sys_file_data where id = #{value}
	</select>
	
	<select id="getbyfname" resultType="com.bootdo.system.domain.FileDataDO">
		select `id`,`fname`,`foname`,`fdata`,`ftype`,`ctime`,`num` from sys_file_data where fname = #{value} limit 1
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.system.domain.FileDataDO">
		select `id`,`fname`,`foname`,`fdata`,`ftype`,`ctime`,`num` from sys_file_data
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fname != null and fname != ''"> and fname = #{fname} </if>
		  		  <if test="foname != null and foname != ''"> and foname = #{foname} </if>
		  		  <if test="fdata != null and fdata != ''"> and fdata = #{fdata} </if>
		  		  <if test="ftype != null and ftype != ''"> and ftype = #{ftype} </if>
		  		  <if test="ctime != null and ctime != ''"> and ctime = #{ctime} </if>
		  		  <if test="num != null and num != ''"> and num = #{num} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from sys_file_data
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fname != null and fname != ''"> and fname = #{fname} </if>
		  		  <if test="foname != null and foname != ''"> and foname = #{foname} </if>
		  		  <if test="fdata != null and fdata != ''"> and fdata = #{fdata} </if>
		  		  <if test="ftype != null and ftype != ''"> and ftype = #{ftype} </if>
		  		  <if test="ctime != null and ctime != ''"> and ctime = #{ctime} </if>
		  		  <if test="num != null and num != ''"> and num = #{num} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.FileDataDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_file_data
		(
			`fname`, 
			`foname`, 
			`fdata`, 
			`ftype`, 
			`ctime`, 
			`num`
		)
		values
		(
			#{fname}, 
			#{foname}, 
			#{fdata}, 
			#{ftype}, 
			#{ctime}, 
			#{num}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.system.domain.FileDataDO">
		update sys_file_data 
		<set>
			<if test="fname != null">`fname` = #{fname}, </if>
			<if test="foname != null">`foname` = #{foname}, </if>
			<if test="fdata != null">`fdata` = #{fdata}, </if>
			<if test="ftype != null">`ftype` = #{ftype}, </if>
			<if test="ctime != null">`ctime` = #{ctime}, </if>
			<if test="num != null">`num` = #{num}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from sys_file_data where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from sys_file_data where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>