<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.BuildDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.BuildDO">
		select `id`,`uv_code`,`parent_id`,`bname`,`baddress`,`b_level`,`b_type`,`b_storey`,`b_sort`,`d_code`,`s_id`,`dm_id` from yx_build where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.BuildDO">
		select `id`,`uv_code`,`parent_id`,`bname`,`baddress`,`b_level`,`b_type`,`b_storey`,`b_sort`,`d_code`,`s_id`,`dm_id` from yx_build
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="bname != null and bname != ''"> and bname = #{bname} </if>
		  		  <if test="baddress != null and baddress != ''"> and baddress = #{baddress} </if>
		  		  <if test="bLevel != null and bLevel != ''"> and b_level = #{bLevel} </if>
		  		  <if test="bType != null and bType != ''"> and b_type = #{bType} </if>
		  		  <if test="bStorey != null and bStorey != ''"> and b_storey = #{bStorey} </if>
		  		  <if test="bSort != null and bSort != ''"> and b_sort = #{bSort} </if>
		  		  <if test="dCode != null and dCode != ''"> and d_code = #{dCode} </if>
		  		  <if test="sId != null and sId != ''"> and s_id = #{sId} </if>
		  		  <if test="dmId != null and dmId != ''"> and dm_id = #{dmId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_build
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="bname != null and bname != ''"> and bname = #{bname} </if>
		  		  <if test="baddress != null and baddress != ''"> and baddress = #{baddress} </if>
		  		  <if test="bLevel != null and bLevel != ''"> and b_level = #{bLevel} </if>
		  		  <if test="bType != null and bType != ''"> and b_type = #{bType} </if>
		  		  <if test="bStorey != null and bStorey != ''"> and b_storey = #{bStorey} </if>
		  		  <if test="bSort != null and bSort != ''"> and b_sort = #{bSort} </if>
		  		  <if test="dCode != null and dCode != ''"> and d_code = #{dCode} </if>
		  		  <if test="sId != null and sId != ''"> and s_id = #{sId} </if>
		  		  <if test="dmId != null and dmId != ''"> and dm_id = #{dmId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.BuildDO" useGeneratedKeys="true" keyProperty="id">
		insert into yx_build
		(
			`uv_code`, 
			`parent_id`, 
			`bname`, 
			`baddress`, 
			`b_level`, 
			`b_type`, 
			`b_storey`, 
			`b_sort`, 
			`d_code`, 
			`s_id`, 
			`dm_id`
		)
		values
		(
			#{uvCode}, 
			#{parentId}, 
			#{bname}, 
			#{baddress}, 
			#{bLevel}, 
			#{bType}, 
			#{bStorey}, 
			#{bSort}, 
			#{dCode}, 
			#{sId}, 
			#{dmId}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.BuildDO">
		update yx_build 
		<set>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="bname != null">`bname` = #{bname}, </if>
			<if test="baddress != null">`baddress` = #{baddress}, </if>
			<if test="bLevel != null">`b_level` = #{bLevel}, </if>
			<if test="bType != null">`b_type` = #{bType}, </if>
			<if test="bStorey != null">`b_storey` = #{bStorey}, </if>
			<if test="bSort != null">`b_sort` = #{bSort}, </if>
			<if test="dCode != null">`d_code` = #{dCode}, </if>
			<if test="sId != null">`s_id` = #{sId}, </if>
			<if test="dmId != null">`dm_id` = #{dmId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_build where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_build where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>