<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.ClassDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.ClassDO">
		select `id`,`uv_code`,`cl_name`,`cl_zy`,`cl_yx`,`cl_xq`,`cl_nj`,`u_id`,`cl_code`,`col_id` from yx_class where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.ClassDO">
		select `id`,`uv_code`,`cl_name`,`cl_zy`,`cl_yx`,`cl_xq`,`cl_nj`,`u_id`,`cl_code`,`col_id` from yx_class
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="clName != null and clName != ''"> and cl_name = #{clName} </if>
		  		  <if test="clZy != null and clZy != ''"> and cl_zy = #{clZy} </if>
		  		  <if test="clYx != null and clYx != ''"> and cl_yx = #{clYx} </if>
		  		  <if test="clXq != null and clXq != ''"> and cl_xq = #{clXq} </if>
		  		  <if test="clNj != null and clNj != ''"> and cl_nj = #{clNj} </if>
		  		  <if test="uId != null and uId != ''"> and u_id = #{uId} </if>
		  		  <if test="clCode != null and clCode != ''"> and cl_code = #{clCode} </if>
		  		  <if test="colId != null and colId != ''"> and col_id = #{colId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_class
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="clName != null and clName != ''"> and cl_name = #{clName} </if>
		  		  <if test="clZy != null and clZy != ''"> and cl_zy = #{clZy} </if>
		  		  <if test="clYx != null and clYx != ''"> and cl_yx = #{clYx} </if>
		  		  <if test="clXq != null and clXq != ''"> and cl_xq = #{clXq} </if>
		  		  <if test="clNj != null and clNj != ''"> and cl_nj = #{clNj} </if>
		  		  <if test="uId != null and uId != ''"> and u_id = #{uId} </if>
		  		  <if test="clCode != null and clCode != ''"> and cl_code = #{clCode} </if>
		  		  <if test="colId != null and colId != ''"> and col_id = #{colId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.ClassDO">
		insert into yx_class
		(
			`id`, 
			`uv_code`, 
			`cl_name`, 
			`cl_zy`, 
			`cl_yx`, 
			`cl_xq`, 
			`cl_nj`, 
			`u_id`, 
			`cl_code`, 
			`col_id`
		)
		values
		(
			#{id}, 
			#{uvCode}, 
			#{clName}, 
			#{clZy}, 
			#{clYx}, 
			#{clXq}, 
			#{clNj}, 
			#{uId}, 
			#{clCode}, 
			#{colId}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.ClassDO">
		update yx_class 
		<set>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="clName != null">`cl_name` = #{clName}, </if>
			<if test="clZy != null">`cl_zy` = #{clZy}, </if>
			<if test="clYx != null">`cl_yx` = #{clYx}, </if>
			<if test="clXq != null">`cl_xq` = #{clXq}, </if>
			<if test="clNj != null">`cl_nj` = #{clNj}, </if>
			<if test="uId != null">`u_id` = #{uId}, </if>
			<if test="clCode != null">`cl_code` = #{clCode}, </if>
			<if test="colId != null">`col_id` = #{colId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_class where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_class where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>