<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.DormitoryDao">

	<select id="findOneById" resultType="com.bootdo.welcome.domain.DormitoryDO">
		select `id`,`uv_code`,`parent_id`,`d_name`,`d_code`,`d_level`,`d_sort`,`s_id`,`dm_id`,`b_id`,`b_fl_id`,`b_xq_id`,`b_d_id` from yx_dormitory where id = #{value}
	</select>

	<select id="findPageListByMap" resultType="com.bootdo.welcome.domain.DormitoryDO">
		select `id`,`uv_code`,`parent_id`,`d_name`,`d_code`,`d_level`,`d_sort`,`s_id`,`dm_id`,`b_id`,`b_fl_id`,`b_xq_id`,`b_d_id` from yx_dormitory
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="dName != null and dName != ''"> and d_name = #{dName} </if>
		  		  <if test="dCode != null and dCode != ''"> and d_code = #{dCode} </if>
		  		  <if test="dLevel != null and dLevel != ''"> and d_level = #{dLevel} </if>
		  		  <if test="dSort != null and dSort != ''"> and d_sort = #{dSort} </if>
		  		  <if test="sId != null and sId != ''"> and s_id = #{sId} </if>
		  		  <if test="dmId != null and dmId != ''"> and dm_id = #{dmId} </if>
		  		  <if test="bId != null and bId != ''"> and b_id = #{bId} </if>
		  		  <if test="bFlId != null and bFlId != ''"> and b_fl_id = #{bFlId} </if>
		  		  <if test="bXqId != null and bXqId != ''"> and b_xq_id = #{bXqId} </if>
		  		  <if test="bDId != null and bDId != ''"> and b_d_id = #{bDId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="countByMap" resultType="int">
		select count(*) from yx_dormitory
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="uvCode != null and uvCode != ''"> and uv_code = #{uvCode} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="dName != null and dName != ''"> and d_name = #{dName} </if>
		  		  <if test="dCode != null and dCode != ''"> and d_code = #{dCode} </if>
		  		  <if test="dLevel != null and dLevel != ''"> and d_level = #{dLevel} </if>
		  		  <if test="dSort != null and dSort != ''"> and d_sort = #{dSort} </if>
		  		  <if test="sId != null and sId != ''"> and s_id = #{sId} </if>
		  		  <if test="dmId != null and dmId != ''"> and dm_id = #{dmId} </if>
		  		  <if test="bId != null and bId != ''"> and b_id = #{bId} </if>
		  		  <if test="bFlId != null and bFlId != ''"> and b_fl_id = #{bFlId} </if>
		  		  <if test="bXqId != null and bXqId != ''"> and b_xq_id = #{bXqId} </if>
		  		  <if test="bDId != null and bDId != ''"> and b_d_id = #{bDId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.DormitoryDO">
		insert into yx_dormitory
		(
			`id`, 
			`uv_code`, 
			`parent_id`, 
			`d_name`, 
			`d_code`, 
			`d_level`, 
			`d_sort`, 
			`s_id`, 
			`dm_id`, 
			`b_id`, 
			`b_fl_id`, 
			`b_xq_id`, 
			`b_d_id`
		)
		values
		(
			#{id}, 
			#{uvCode}, 
			#{parentId}, 
			#{dName}, 
			#{dCode}, 
			#{dLevel}, 
			#{dSort}, 
			#{sId}, 
			#{dmId}, 
			#{bId}, 
			#{bFlId}, 
			#{bXqId}, 
			#{bDId}
		)
	</insert>
	 
	<update id="updateById" parameterType="com.bootdo.welcome.domain.DormitoryDO">
		update yx_dormitory 
		<set>
			<if test="uvCode != null">`uv_code` = #{uvCode}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="dName != null">`d_name` = #{dName}, </if>
			<if test="dCode != null">`d_code` = #{dCode}, </if>
			<if test="dLevel != null">`d_level` = #{dLevel}, </if>
			<if test="dSort != null">`d_sort` = #{dSort}, </if>
			<if test="sId != null">`s_id` = #{sId}, </if>
			<if test="dmId != null">`dm_id` = #{dmId}, </if>
			<if test="bId != null">`b_id` = #{bId}, </if>
			<if test="bFlId != null">`b_fl_id` = #{bFlId}, </if>
			<if test="bXqId != null">`b_xq_id` = #{bXqId}, </if>
			<if test="bDId != null">`b_d_id` = #{bDId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="removeById">
		delete from yx_dormitory where id = #{value}
	</delete>
	
	<delete id="batchRemoveByIds">
		delete from yx_dormitory where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>