package ${package}.dao;

import ${package}.domain.${className}DO;

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {

	${className}DO findOneById(${pk.attrType} ${pk.attrname});
	
	List<${className}DO> findPageListByMap(Map<String,Object> map);
	
	int countByMap(Map<String,Object> map);
	
	int save(${className}DO ${classname});
	
	int updateById(${className}DO ${classname});
	
	int removeById(${pk.attrType} ${pk.columnName});
	
	int batchRemoveByIds(${pk.attrType}[] ${pk.attrname}s);
}
