package ${package}.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;
import java.util.Map;
import ${package}.dao.${className}Dao;
import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;


@Service
public class ${className}Service  {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	
	public ${className}DO get(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.findOneById(${pk.attrname});
	}
	
	
	public List<${className}DO> list(Map<String, Object> map){
		return ${classname}Dao.findPageListByMap(map);
	}
	
	
	public int count(Map<String, Object> map){
		return ${classname}Dao.countByMap(map);
	}
	
	
	public int save(${className}DO ${classname}){
		return ${classname}Dao.save(${classname});
	}
	
	
	public int update(${className}DO ${classname}){
		return ${classname}Dao.updateById(${classname});
	}
	
	
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.removeById(${pk.attrname});
	}
	
	
	public int batchRemove(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Dao.batchRemoveByIds(${pk.attrname}s);
	}
	
}
